.login-card {
	max-width: 450px;
}

.center{
	width: 75%;
	margin: 10px auto;
}
	
.centerlink{
	width: 90%;
	margin: 10px auto;
}

.main-div{
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.input {
  width: 100%;
}

hr{
  border-color:#aaa;
  box-sizing:border-box;
  width:80%;  
}

.spinner {
	float:right; 
	margin: 0;
	padding: 0;	
  }