<div class="main-div">
<mat-card class="login-card z-depth center">
  <mat-card-header>
    <mat-card-title>Cadastro</mat-card-title>
  </mat-card-header>  
  <mat-card-content>
    
    <mat-form-field class="input">
      <input matInput placeholder="E-mail" [formControl]="email" required>
      <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>      
    </mat-form-field>
  
    <mat-form-field class="input">
      <input matInput placeholder="Nome Completo" [formControl]="nome" required >
      <mat-error *ngIf="nome.invalid">Este campo deve ser preenchido!</mat-error>
    </mat-form-field>
  
    <mat-form-field class="input">
      <input matInput placeholder="Senha" type="password" required [formControl]="senha" >
      <mat-error *ngIf="senha.invalid">{{getPasswordErrorMessage()}}</mat-error>
    </mat-form-field>
    <br/>
    <button mat-raised-button color="primary">Cadastrar</button>
    <br/>
    <br/>
    <hr class="centerlink"/>    
    <p class="centerlink">
      Já possui conta? Efetue o login clicando 
      <a routerLink="">Aqui</a>
    </p>
  </mat-card-content>
</mat-card>
</div>