<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">UBPConfig 2.0 - {{nome}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <!-- HOME -->
        <a class="nav-link" routerLink="../home">Home</a>
      </li>
      <li class="nav-item active">
          <!-- CADASTRO DE EMPRESA -->
          <a class="nav-link" routerLink="../cadastro-sistema">Cadastrar Sistema</a>
      </li>
      <li class="nav-item active">
        <!-- CADASTRO DE CLIENTE -->
        <a class="nav-link" routerLink="../cadastro-cliente">Cadastrar Cliente</a>
    </li>
    </ul>
    <i class="fas fa-sign-out-alt" (click)="onSignOut()"></i>
  </div>
</nav>