<form (ngSubmit)="onSubmit(); $event.preventDefault()">
  <div class="main-div">
    <mat-card class="login-card z-depth center">
      <mat-card-header>
        <mat-card-title>UBPConfig 2.0 - Cadastro</mat-card-title>
      </mat-card-header>
      <mat-card-content>

        <mat-form-field class="input">
          <input matInput placeholder="E-mail" [formControl]="email" required>
          <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
        </mat-form-field>
        <br/>
        <mat-form-field class="input">
          <input matInput placeholder="Nome Completo" [formControl]="nome" required>
          <mat-error *ngIf="nome.invalid">Este campo deve ser preenchido!</mat-error>
        </mat-form-field>
        <br/>
        <mat-form-field class="input">
          <input matInput placeholder="Usuário" [formControl]="usuario" required>
          <mat-error *ngIf="usuario.invalid">{{getUsernameErrorMessage()}}</mat-error>
        </mat-form-field>
        <br/>
        <mat-form-field class="input">
          <input matInput placeholder="Senha" type="password" required [formControl]="senha">
          <mat-error *ngIf="senha.invalid">{{getPasswordErrorMessage()}}</mat-error>
        </mat-form-field>
        <br/>
        <br/>
        <div>
          <button mat-raised-button color="primary" [disabled]="(email.invalid || nome.invalid || usuario.invalid || senha.invalid) || salvando">Cadastrar</button>
          <mat-spinner class="spinner" diameter="25" *ngIf="salvando"></mat-spinner>
        </div>

        <br/>
        <br/>
        <br/>
        <hr class="centerlink" />
        <p class="centerlink">
          Já possui conta? Efetue o login clicando
          <a routerLink="">Aqui</a>
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</form>